text/plain;Plain Text;[[Дата последнего обновления: %lastupd%

]][[User Agent: %useragent%

]][[*** Расширения (включено: %enabled_extensions_count%, отключено: %disabled_extensions_count%; всего: %extensions_count%)
{{extension:%name% %version% %disabled-text%
}}
]][[*** Темы (%themes_count%)
{{theme:%name% %selected-text%
}}
]][[*** Плагины
{{plugin:%name%
}}
]]
