@import url(common.css);

h2 {
	font-size: 12pt;
}

div.q {
	border-bottom: solid gray 1px;
	margin-right: 16em;
}

div.faq {
	font-weight: bold;
}

div.nav {
	background: #fcfcfc;
	float: right;
	padding: 10px;
	margin: 10px;
	border: dotted 1px #bbb;
	width: 13em;
}
div.nav ul {
	padding-left: 1.5em;
}

#translations {
	padding-left: 1em;
	color: #aaa;
}

#install {
  border: solid 3px orange;
  padding: 1em;
  -moz-border-radius: 10px;
}

#install a {
	font-weight: bold;
}
