text/plain;BBCode;Mi información de %app% 
[[
Última actualización: %lastupd%]][[
Agente de usuario: %useragent%]]

[[[b]Extensiones[/b] (activadas: %enabled_extensions_count%, desactivadas: %disabled_extensions_count%; totales: %extensions_count%)
[list]
{{extension:[*]%name% %version% %disabled-text%
}}[/list]
]][[
[b]Temas[/b] (%themes_count%)
[list]
{{theme:[*]%name% %selected-text%
}}[/list]
]][[
[b]Plugins[/b]
[list]
{{plugin:[*]%name%
}}[/list]
]]
