text/plain;BBCode;%app% の情報
[[
最終更新時間: %lastupd%]][[
User Agent: %useragent%]]

[[[b]拡張機能[/b] (有効: %enabled_extensions_count%, 無効: %disabled_extensions_count%; 合計: %extensions_count%)
[list]
{{extension:[*]%name% %version% %disabled-text%
}}[/list]
]][[
[b]テーマ[/b] (%themes_count%)
[list]
{{theme:[*]%name% %selected-text%
}}[/list]
]][[
[b]プラグイン[/b]
[list]
{{plugin:[*]%name%
}}[/list]
]]
