text/plain;Solo testo;[[Ultimo aggiornamento: %lastupd%

]][[User Agent: %useragent%

]][[*** Estensioni (attive: %enabled_extensions_count%, disattivate: %disabled_extensions_count%; totali: %extensions_count%)
{{extension:%name% %version% %disabled-text%
}}
]][[*** Temi (%themes_count%)
{{theme:%name% %selected-text%
}}
]][[*** Plugin
{{plugin: %name%
}}
]]
