text/plain;Plain Text;[[最後更新時間：%lastupd%

]][[使用者識別字串 (User Agent)： %useragent%

]][[*** 擴充套件列表（啟用：%enabled_extensions_count%，停用：%disabled_extensions_count%；總數：%extensions_count%）
{{extension:%name% %version% %disabled-text%
}}
]][[*** 佈景主題列表 (%themes_count%)
{{theme:%name% %selected-text%
}}
]][[*** 外掛程式列表
{{plugin:%name%
}}
]]
