@import url(../common.css);

h1+p {
  font-size: small;
  padding: 0 0 0 2em;
}
h1+p>a {
  text-decoration: none;
}
h1+p>a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 14pt;
}

ul {
  counter-reset: counter;
}

li {
  padding: 3px;
}

li > b:before {
  content: "Step ";
}

#troubleshoot > ul > li:before {
  content: counter(counter) ". ";
  counter-increment: counter;
}

li > h3 {
  display: inline;
  font-size: 12pt;
}

li img {
  margin: 7px;
}
