text/plain;BBCode;My %app% Information
[[
Naposledy aktualizované: %lastupd%]][[
Identifikácia: %useragent%]]

[[[b]Rozšírenia[/b] (povolené: %enabled_extensions_count%, zakázané: %disabled_extensions_count%; celkom: %extensions_count%)
[list]
{{extension:[*]%name% %version% %disabled-text%
}}[/list]
]][[
[b]Témy[/b] (%themes_count%)
[list]
{{theme:[*]%name% %selected-text%
}}[/list]
]][[
[b]Zásuvné moduly[/b]
[list]
{{plugin:[*]%name%
}}[/list]
]]
