text/plain;Plain Text;[[Última actualización: %lastupd%

]][[Agente de usuario: %useragent%

]][[*** Extensiones (activadas: %enabled_extensions_count%, desactivadas: %disabled_extensions_count%; totales: %extensions_count%)
{{extension:%name% %version% %disabled-text%
}}
]][[*** Temas (%themes_count%)
{{theme:%name% %selected-text%
}}
]][[*** Plugins
{{plugin:%name%
}}
]]
