text/plain;XPI List;# これはインストールされているアイテムのリンクのリストです。
# Mass Installer でこれを使うことができると思います。
# この情報を見つけることができない拡張機能があります。
# 通常、InfoLister がリンクを見つけることができない場合、
# 更新するための情報がその拡張機能に正しく含まれていないことを示します。

[[# %lastupd%
]][[# %useragent%
]]
{{extension:#%name% %version% %disabled-text%
%xpiLink% 
}}
