text/plain;BBCode;我的 %app% 信息
[[
上次更新: %lastupd%]][[
用户标识: %useragent%]]

[[[b]扩展[/b] (启用: %enabled_extensions_count%, 禁用: %disabled_extensions_count%; 共: %extensions_count%)
[list]
{{extension:[*][url=%homepageURL%]%name%[/url] %version% %disabled-text%
}}[/list]
]][[
[b]主题[/b] (%themes_count%)
[list]
{{theme:[*]%name% %selected-text%
}}[/list]
]][[
[b]插件[/b]
[list]
{{plugin:[*]%name%
}}[/list]
]]
