text/plain;Plain Text;[[上次更新: %lastupd%

]][[用户标识: %useragent%

]][[*** 扩展 (启用: %enabled_extensions_count%, 禁用: %disabled_extensions_count%; 共: %extensions_count%)
{{extension:%name% %version% %disabled-text%
}}
]][[*** 主题 (%themes_count%)
{{theme:%name% %selected-text%
}}
]][[*** 插件
{{plugin:%name%
}}
]]
