@import url(../common.css);
h1+p {
  font-size: small;
  padding: 0 0 0 2em;
}
h1+p>a {
  text-decoration: none;
}
h1+p>a:hover {
  text-decoration: underline;
}
h2 {
  font-size: 14pt;
}
#proc-text > li > :first-child {
  font-weight: bold;
}